.search-form{
    text-align: center;
  }

.input{
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-left: 50px;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    
}

.input:focus{
    border-color: blue;
}

.visualy-hiden{
    
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: normal;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    
}
.button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    
}
.button:hover{
    color: aliceblue;
    background-color:blue;
}

.gallery{
    margin-bottom: 40px;
}

.load-more{
    
    margin-left: auto;
    margin-right: auto;

}
